<h1>Admin sites</h1>
<ul style="list-style-type: none">
  <li><%= link_to "Recipes", admin_recipes_path %></li>
  <li><%= link_to "Ingredients", admin_ingredients_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>
</ul>
