<ul class="menu">
  <li><%= link_to "Strona główna", "/"%> </li>
  <li><%= link_to "Menu", "/recipes" %> </li>
  <li><%= link_to "Nowe zamówienie", "/orders/new" %> </li>
  <li><%= link_to "Kontakt", "/kontakt" %></li>
  <%  %>
</ul>
