<ul class="menu">
  <li><%= link_to "Home", "/"%> </li>
  <li><%= link_to "Menu", recipes_path %> </li>
  <li><%= link_to "New order", new_order_path+"?command=clear" %> </li>
  <li><%= link_to "Contact", "/kontakt" %></li>
</ul>
