body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

.menu{
	position: absolute;
	bottom: 0px
}

body,html{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: LightYellow;
}

div{
	position: relative;
	width: 100%;
}

#content_wrapper{
	width: 800px;
	min-height: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: PaleGoldenrod;
	border-left: 1px solid black;
	border-right: 1px solid black;
	overflow: auto;
}

#content{
	width: 780px;
	padding: 10px 10px 10px 10px;
	overflow: inherit;
}

#header, #footer{
	height: 40px;
}

#header_content{
	height: 100%;
	width: 800px;
	margin: 0px auto 0px auto;
}

#header_line, #footer_line{
	background-color: black;
	width: 100%;
	height: 2px;
}

.section{
	background-color: khaki;
	border: 1px solid darkkhaki;
	padding: 0px 10px 10px 10px;
	margin: 5px;
	width: 748px;
}

ul.highlighted_list{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.highlighted_list :hover{
	background-color: #CC9933;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;	
}

a.menu_link{
	float: left;
	display: block;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	width: 120px;
	height: 20px;
	padding: 5px;
}

a.menu_link:hover{
	background-color: orange;
}

input[type = submit] {
	border:none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

input[type = submit]:hover{
	text-decoration: underline;	
}

